:root {
  --input-color-border: #BAD8F5;
  --input-color-border-checked: #459DF5;
  --input-background-color-checked: #459DF5;
  --input-background-color: #fff;
}
/* checkbox */

.checkbox {
  margin: 0.25rem;
}

.chechbox__label {
  position: relative;
  display: flex;
  cursor: pointer;
}

.checkbox__input {
  appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: var(--input-background-color);
  border: 1px solid var(--input-color-border);
  border-radius: 2px;
  margin: 0;
  padding: 0;
}

.checkbox__input:checked {
  background-color: var(--input-background-color-checked);
  border: 1px solid var(--input-color-border-checked);
}
.checkbox__img {
  position: absolute;
  width: 1rem;
  height: 1rem;
}
